<div class="hr_liens"></div>
<div class="topline_footer"></div>
<footer>
	<div class="toto">
		<div id="accueil_footer">
			<ul class="blocks_footer">
				<li>
					<a class="links" href="#">Accueil</a>
				</li>
				<li>
					<a class="links" href="#">XVIIIème Siècle</a>
				</li>
				<li>
					<a class="links" href="#">XIXème Siècle</a>
				</li>
				<li>
					<a class="links" href="#">1900-1910</a>
				</li>
				<li>
					<a class="links" href="#">1920</a>
				</li>
				<li>
					<a class="links" href="#">1930</a>
				</li>
				<li>
					<a class="links" href="#">1940</a>
				</li>
				<li>
					<a class="links" href="#">1950 et plus</a>
				</li>
			</ul>
		</div>
		<div id="divers-footer">
			<ul class="blocks_footer">
				<li>
					<a class="links" href="#">Contactez-nous</a>
				</li>
				<li>
					<a class="links" href="#">Mentions légales</a>
				</li>
				<li>
					<a class="links" href="#">CGU</a>
				</li>
				<li>
					<a class="links" href="#">CGV</a>
				</li>
				<li>
					<a class="links" href="#">Politique de confidentialité</a>
				</li>
			</ul>
			<ul>
				<div class="block_credit_card">
					<li class="list_logo_card"><img class="logo_credit_card" src="{{ asset('./icons/visa.png') }}"></li>
					<li class="list_logo_card"><img class="logo_credit_card" src="{{ asset('./icons/icons-mastercard.png') }}"></li>
					<li class="list_logo_card"><img class="logo_credit_card" src="{{ asset('./icons/american-express.png') }}"></li>
					<li class="list_logo_card"><img class="logo_credit_card" src="{{ asset('./icons/paypal.png') }}"></li>

				</div>
			</ul>
		</div>
		<div id="liens-footer">
			<ul class="blocks_footer">
				<li>
					<a class="links" href="#"><img class="reseaux" src="{{ asset('./icons/instagram.png') }}">Instagram</a>
				</li>
				<li>
					<a class="links" href="#"><img class="reseaux" src="{{ asset('./icons/facebook.png') }}">Facebook</a>
				</li>
				<li>
					<a class="links" href="#"><img class="reseaux" src="{{ asset('./icons/etsy.png') }}">Etsy</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="copyright">
		<p>&copy; Eclats D'Autrefois - Tous droits réservés - François Geffriaud</p>
	</div>
</footer>
